/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

#section {
  



}

#left {
  float: left;
  width: 33.3%;
  padding: 20px;
  background: #666;
}


#middle {
  float: left;
  width: 33.3%;
  padding: 20px;
  background: #888;
}

#right {
  float: left;
  width: 33.3%;
  padding: 20px;
  background: #666;

}

#full {
}

#division {
}

aside {
  padding: 30px;
  
  color: #333;
  background: #ccc;
  float: left;

}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}
